<div class="header">TMATL</div>
<div class="form">
    <form align="center" action="/createChallenge" name="createForm" method="post">
        <input type="input" name="create" value="" placeholder="create new challenge">
        <button class="button" type="submit" name="createButton">Create</button>
    </form>
</div>

<div id="list">
    <div class="heading">Challenges</div>
    <table align="center">
    {{#each challenges}}
        <tr>
            <td>
                {{challenge}}
            </td>
            <td>
                <form action='/delete' method="post">
                    <button class="delete" type="text" name="id" value="{{id}}">Delete</button>
                </form>
            </td>
        </tr>
    {{/each}}
    </table>
</div>
