<form action="/createChallenge" name="createForm" method="post">
    <input type="input" name="create" value="" placeholder="create new challenge">
    <button type="submit" name="createButton">Create</button>
</form>

<div id="list">
    <table>
    {{#each challenges}}
        <tr>
            <td>
                {{challenge}}
            </td>
            <td>
                <form action='/delete' method="post">
                    <button class="delete" type="text" name="id" value="{{id}}">Delete</button>
                </form>
            </td>
        </tr>
    {{/each}}
    </table>
</div>
<hr>
{{> completedChallenges}}
