<form action="/createChallenge" name="createForm" method="post">
    <input type="input" name="create" value="" placeholder="create new challenge">
    <button type="submit" name="createButton">Create</button>
</form>

<div id="list">
    {{#each challenges}}
        <li>
            {{challenge}}
            <form action='/delete' method="post">
                <button class="delete" type="text" name="id" value="{{id}}">Delete</button>
            </form>
        </li>
    {{/each}}
</div>
