<form action="/createChallenge" name="createForm" method="post">
    <input type="input" name="create" value="" placeholder="create new challenge">
    <button type="submit" name="createButton">Create</button>
</form>

<div id="list">
    {{#each challenges}}
        <li>{{challenge}}
        <form action="index.html" method="post">
            <button class="delete" type="submit" name="button">Delete</button>
        </form>
        </li>
    {{/each}}
</div>
