<form action="/createChallenge" name="createForm" method="post">
    <input type="input" name="create" value="" placeholder="create new challenge">
    <button type="submit" name="createButton">Create</button>
</form>

<div id="list">
    {{#each challenges}}
        <li>{{challenge}}</li>
    {{/each}}
</div>
