<div class="complete">
    <div class="heading">Completed Challenges</div>

    <table id="table" align="center">
        {{#each completed}}
            <tr>
                <td>{{complete}}</td>
            </tr>
        {{/each}}
    </table>
</div>
